body{
	background: #9CF9F0;
	font-family: sans-serif;
	color: #292e2e
}
main{
	width: 60vw;
	float: left;
}
aside{
	width: 30vw;
	float: left;
	margin-left: 5vw;
}
section {
	list-style-type: none;
}
main section div{
	background: #F9C29C;
	padding: 10px;
}
section div h4{
	float: left;
	margin-left: 5px;
	color: #292e2e
}
div h4 a{
	color:#292e2e;
}
section div p{
	clear: both;
	font-size: 0.8em;
}
section img{ 
	width: 50px;
	height: 50px;
	float: left;
	padding: 10px;
	background: #04646F;
	border-radius: 16px;
	margin-bottom: 10px;
}
footer{
	clear: both;
}